body {
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

#hero {
    background-image: url("https://media2.giphy.com/media/iicDrNGWxHmDrIni6j/giphy.gif?cid=ecf05e47ia0gp8n2shfxb0d6buoydwwsn5kbhufo6f5s9dnn&rid=giphy.gif&ct=g");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1rem;
    height: 50vh;
}

#logo {
    width: 10rem;
}

h1 {
    text-shadow: 0 0 4px black;
}

h3 {
    margin: 0;
    color: white;
    text-shadow: 2px 2px #82a5ca;
}

.button {
    color: #82a5ca;
    background-color: transparent;
    border: 2px solid #82a5ca;
    padding: .25rem .75rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
}

.button:hover {
    color: white;
    background-color: #82a5ca;
}

#terms {
    background-image: url("https://images.unsplash.com/photo-1581901811881-2695b594d5ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 25%;
    height: 50vh;
}

#launches {
    background-image: url("https://images.unsplash.com/photo-1517976487492-5750f3195933?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 25%;
    height: 50vh;
}

footer {
    background-color: black;
    padding: 1rem;
    font-size: .75rem;
}

#links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.footer-link {
    padding: .25rem 1rem;
    width: 6rem;
}

.footer-link:hover {
    outline: 1px solid #82a5ca;
}

/* UTILITY CLASSES */

.underline {
    text-decoration: underline;
    text-decoration-color: white;
}

.spacer-1 {
    margin-bottom: 1rem;
}